.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.cover__overlay::before {
  opacity: .3;
  transition: opacity .2s linear;
  background: #2a2c2f;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.cover__overlay:hover::before {
  opacity: .8;
}

@media screen and (min-width: 1279px) {
  .cover__overlay {
   width: 1184px;
   min-height: 740px;
  }
}

@media screen and (max-width: 1040px) {
  .cover__overlay {
    min-height: 62.5vw;
  }
}